@font-face{
	font-family: vazir;
    src:url (Fonts/Vazir.ttf);
    src:url (Fonts/Vazir.woff);
	src:url (Fonts/Vazir.woff2);
	font-weight: normal;
}
@font-face{
	font-family: minecraft;
	src:url (Fonts/Minecraft.ttf);
		
}
@font-face{
	font-family: minecraftTen;
	src:url (Fonts/MinecraftTen-VGORe.ttf);
		
}
/*------------------------------------*/
body{
	
	background-image: url("../../../../Documents/Unnamed Site 2/loginBg.png");
	background-size: cover;
	text-align: center;
	
	
	
	
}
#topText{
	
	font-size: 72px;
	font-family: minecraft;
	text-shadow: 1px 1px 9px rgba(0,0,0,0.68);
	color: white;
	
	
	
	
}
#signUpBox{
	background-image: url("../../../../Documents/Unnamed Site 2/divBg.png");
	background-size: cover;
	width: 887px;
	height: 30cm;
	border-radius: 1%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	
	
	
}
#boxContent{
	
	font-family: Minecraft;
	font-size: 36px;
	
	
	
	
}
.boxContent2{
	
	font-family: Minecraft;
	font-size: 24px;
	
	
	
	
}
#emailF{
	border: none;
	border-bottom: 2pt solid #0066ff;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	
}
#emailF2{
	border: none;
	border-bottom: 2pt solid #8800cc;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	
}
#emailF3{
	border: none;
	border-bottom: 2pt solid #ff1a1a;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	
}
#emailF4{
	border: none;
	border-bottom: 2pt solid #29a329;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	
}
#emailF5{
	border: none;
	border-bottom: 2pt solid #ff9900;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	
}
#emailF6{
	border: none;
	border-bottom: 2pt solid #994d00;
	width: 80%;
	height: 1.2cm;
	margin: auto;
	background-color: transparent;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	
}
input[type=text]:focus{
	
	outline: none;
	
	
}
input[type=password]:focus{
	
	outline: none;
	
	
}
input[type=email]:focus{
	
	outline: none;
	
	
}
input[type=tel]:focus{
	
	outline: none;
	
	
}
input[type=select]:select{
	
	outline: none;
	
	
}
#comboBox{
	
	border: none;
	border-left: 2pt solid #994d00;
	width: 85%;
	height: 1.5cm;
	margin: auto;
	background-color: white;
	border-radius: 1%;
	padding: 4pt;
	font-family: Minecraft;
	margin-top: 7%;
	outline: none;
	font-size: 14px;
	
	
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
#tos{
	font-family: Minecraft;
	font-size: 14px;
	margin-top: 6%;
	
	
	
}
#submitBtn{
	
	
	background-color: #00b034;
	padding-top: 23.5px;
	padding-bottom: 23.5px;
	padding-left: 98px;
	padding-right: 98px;
	margin: auto;
	
	margin-top: 10%;
	font-family: Minecraft;
	font-size: 15px;
	
	
}
a#submitBtn:hover{
	
	background-color:#006CFF;
	text-decoration: none;
	
	
}
a:acitve{
	
	color: white;
	
	
	
}
a:visited{
	
	color: white;
	
	
	
}
a:unvisited{
	
	color: white;
	
	
	
}
a{
	
	text-decoration: none;
	
	
}